body{
    text-align: center;
    background: url("images/image.jpg");
    color: #3366CC;
    font-family: Lato, "times new roman", sans-serif;
    margin:3%;
}

.container{
    background: #000000; padding:2em; max-width: 100%;margin-top:-110%;
}

.page-wrap{
    color:red;
}

h2{
    text-align:left;
    font-size:35px;
}

p{
    text-indent:2em; text-align:left; font-size:25px; line-height: 3em;
}

.select-panel{
    margin-top: -5%;
}

#me{
    padding:30px 0 30px 0;
    margin-left: 8%;
}

h3{
    position:relative;
    left:2%;
    text-align: center;
    font-size:30px;
}

.intro-column {
    background: #ffffff;
    padding: 5%;
    margin:1.5% 2% 0 5%;
}

#intro-text{
    font-size:35px;
}

.body-panels{
    background: #ffffff;
    margin:10px;
    padding:10px;
    margin-top: 3%;
    line-height:180%;
}


.uplife-panel{
    margin-bottom: 100px;
}

.experiences-panel{
    margin-bottom: 100px;
}

.favorites-panel{
    margin-bottom: 100px;
    text-align:left;
    text-indent:2em;
}


nav ul{
    overflow: hidden;

}
nav ul li {
    width: 23%; display:inline-block; background-color: orange; border-radius: 1em; margin:6% 5% 0 5%;
}
nav ul li a{
    text-decoration: none; text-transform: uppercase; font-size: 36px width: 20%; min-height:15px; font-size: 35px;
}
nav ul li:hover {
      background-color: yellow;
}

nav ul li:active {
    color: red; background-color: gold; font-weight: bold;
}

ul { list-style-type: none; color: #004060; font-size: 16px; font-weight: bold;}

@media screen and (max-width: 480px){

	html {
		-webkit-text-size-adjust: none;
	}

    .page-wrap {
        margin:0;
    }

    body{
        margin:0;
    }

    .body-panels{
        margin-top:10%;
    }

    h2{
        font-size: 85%;
    }

    p{
        font-size: 85%;
        margin:1%
    }

    #intro-text{
        font-size:85%;
    }

    h3{
        font-size: 85%;
        left:4%;
    }
}

@media screen and (max-width: 1365px) {

	nav ul li{
        width: 50%; margin:5% 0 5% 0; display:block; margin-left:auto; margin-right:auto;
    }

    nav ul li a{
        font-size: 16px;  width: 60%; text-align: center; margin-left:auto; margin-right:auto;
    }
}

@media screen and (max-width: 1364px) and (min-width: 900px){
    .page-wrap {
        padding: 5%;
        margin:2%;

    }

    h2{
        font-size: 95%;
    }

    p{
        font-size: 95%; margin: 5%
    }

    #intro-text{
        font-size:95%
    }

    h3{
        font-size: 95%;
    }
}

@media screen and (max-width: 899px) and (min-width: 481px) {
    .page-wrap {
        padding: 3%;
        margin:1%;
    }

    h2{
        font-size: 90%
    }

    p{
        font-size: 90%;
        margin:3%;
    }

    h3{
        font-size: 90%;
    }

    #intro-text{
        font-size:90%
    }
}


/** Soon to come
@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}*/
